@font-face {
  font-family: digitalFont;
  src: local("digital"),
       url(font/digital-7.ttf);
  font-weight: 400;
}

body {
  background-color: #282c34 !important;
}

.App {
  text-align: center;
}

.clockBorder {
  background-color: rgb(153, 152, 152);
  border-radius: 6px;
}

.clockDisplay {
  background-color: #9FAE87;
  border-style: dotted;
}

span {
  color: #000000;
  font-size: 30px;
  font-family: digitalFont;
  font-size: 35px;
}

.about {
  color: #F8F9FA;
}

.about h1 {
  font-family: digitalFont;
}

.about p {
  font-size: 140%;
}

.icon {
  background: #F8F9FA;
  border-radius: 50%;
  height: 4em;
  width: 4em;
}

i {
  color: #282C34;
  font-size: 200%;
}

/*i {
  display: inline-block;
  background: gray;
  color: white;
  border-radius: 50%;
  padding: 0.3em;
  line-height: initial !important;
  height: 3em;
  width: 3em;
  text-align:center;
}*/