body {
  background-color: #282c34 !important;
}

.App {
  text-align: center;
}

.clockBorder {
  background-color: rgb(153, 152, 152);
  border-radius: 6px;
}

.clockDisplay {
  background-color: #9FAE87;
}

span {
  color: #000000;
  font-size: 30px;
  
}

.about {
  color: white;
}