@font-face {
  font-family: digitalFont;
  src: local("digital"),
       url(font/digital-7.ttf);
  font-weight: 400;
}

body {
  background-color: #282c34 !important;
}

.App {
  text-align: center;
}

.clockBorder {
  background-color: rgb(153, 152, 152);
  border-radius: 6px;
}

.clockDisplay {
  background-color: #9FAE87;
  border-style: dotted;
}

span {
  color: #000000;
  font-size: 30px;
  font-family: digitalFont;
  font-size: 35px;
}

.about {
  color: #F8F9FA;
}

.about h1 {
  font-family: digitalFont;
}

.about p {
  font-size: 140%;
}